name: image

on:
  schedule:
    - cron: '0 0 * * *'

env:
  REPO: argoproj/argo-cd
  IMAGE: reireias/argocd

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - name: get recent tag
        id: recent-tag
        run: echo "##[set-output name=tag;]$(curl -s https://api.github.com/repos/${REPO}/tags | jq -crM 'map(select(.name | startswith("v")))[0].name')"

      - name: get recent sha
        id: recent-sha
        run: echo "##[set-output name=sha;]$(curl -s https://api.github.com/repos/${REPO}/tags | jq -crM 'map(select(.name | startswith("v")))[0].commit.sha')"

      - uses: actions/checkout@v2
        with:
          repository: ${{ env.REPO }}
          ref: ${{ steps.recent-sha.outputs.sha }}

      # image build when tag not found in docker hub
      - name: image build
        run: >
          curl -s https://registry.hub.docker.com/v2/repositories/${IMAGE}/tags/
          | jq -crM '.results[].name'
          | grep -q ${{ steps.recent-tag.outputs.tag }}
          || docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}
          && IMAGE_TAG=${{ steps.recent-tag.outputs.tag }} make image
          && docker tag ${IMAGE}:${{ steps.recent-tag.outputs.tag }} ${IMAGE}:latest
          && docker push ${IMAGE}:latest
        env:
          IMAGE_NAMESPACE: reireias
          DOCKER_PUSH: true
          GOARCH: arm
          GOARM: 7
